BasedOnStyle: Google
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
